/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #F0F0F0;
}

span {
    font-style: italic;
}

div.nav_div {
    width: 100%;
    background: url("images/nav_background.png");
}

nav {
    width: 500px;
    margin: 0 auto;
}

    nav a {
        margin-right: 20px;
        font-size: 32px;
        text-decoration: none;
        color: #777;
    }


        nav a:hover {
            color: #fff;
        }

        nav a.selected {
            color: #fff;
        }

.menu ul {
    margin: 30px auto auto 30px;
    list-style: none;
}

    .menu ul li {
        float: right;
    }

        .menu ul li a {
            display: block;
            margin: 0px 5px;
            background: #0f70d9;
            border-radius: 15px;
            font-size 16px;
            text-decoration: none;
            color: #F0F0F0;
            padding: 5px 10px;
        }

.menu a:hover {
    color: black;
    background: #00ffff;
}

/* modifications below to attempt to make it better for mobile devices */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles*/
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
