/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

div.hide_background {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
}

#preference_form {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -300px;
}

#new_chef_form {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -300px;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #F0F0F0;
    width: 50%;
    margin: 0 auto;
}

span {
    font-style: italic;
}

div.nav_div {
    width: 100%;
    background: url("images/nav_background.png");
}

nav.nav_menu {
    width: 500px;
    margin: 0 auto;
}

    nav.nav_menu a {
        margin-right: 20px;
        font-size: 32px;
        text-decoration: none;
        color: #777;
    }


        nav.nav_menu a:hover {
            color: #fff;
        }

        nav.nav_menu a.selected {
            color: #fff;
        }

nav.buttons {
    margin: 10px auto;
}

input {
    font-size: 32px;
}

select {
    font-size: 32px;
}

.button {
    background: url("images/nav_background.png");
    border-radius: 15px;
    color: #F0F0F0;
    padding: 0px 10px;
    text-decoration: none;
    border: none;
    font-size: 24px;
}

    .button:hover {
        color: black;
        background: linear-gradient(to top, gray, white);
    }

.inverse_button {
    background: linear-gradient(to top, gray, white);
    border-radius: 15px;
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    border: none;
    font-size: 32px;
}

    .inverse_button:hover {
        color: #F0F0F0;
        background: url("images/nav_background.png");
    }

div.left-side-list {
    border: solid;
    border-radius: 10px;
    position: fixed;
    left: 5%;
    padding: 0px 10px;
}

ul.side-list {
    display: block;
    padding: 0px;
    margin: 0px;
}

    ul.side-list li {
        list-style: none;
    }

div.right-side-list {
    border: solid;
    border-radius: 10px;
    position: fixed;
    right: 5%;
    padding: 0px 10px;
}

ul.calendar {
    display: block;
    padding: 0px;
    margin: 0px;
}

    ul.calendar li {
        margin: 5px;
        list-style: none;
        border: solid;
        border-color: black;
        float: left;
    }

        ul.calendar li .date_header {
            border-bottom: solid;
            text-align: center;
        }

            ul.calendar li .date_header sup {
                text-align: right;
            }

        ul.calendar li p {
            margin: 0px;
        }

.menu ul {
    margin: 30px auto auto 30px;
    list-style: none;
}

    .menu ul li {
        float: right;
    }

        .menu ul li a {
            display: block;
            margin: 0px 5px;
            background: #0f70d9;
            border-radius: 15px;
            font-size: 16px;
            text-decoration: none;
            color: #F0F0F0;
            padding: 5px 10px;
        }

.menu a:hover {
    color: black;
    background: #00ffff;
}

/* modifications below to attempt to make it better for mobile devices */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
    width: 100%;
}
div.left-side-list {
    position: static;
}

div.right-side-list {
    position: static;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body {
    width: 100%;
}
div.left-side-list {
    position: static;
}

div.right-side-list {
    position: static;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    body {
    width: 100%;
}
div.left-side-list {
    position: static;
}

div.right-side-list {
    position: static;
}
}
